.formulario{
  display: flex;
  flex-direction: row;
  margin: auto;
  width: 90%;
}

 form{
  margin-top: 1rem;
}


mat-form-field {
  margin: auto;
  padding: 0.5rem;
}

.botao{
  margin-left:70%;
}


